
/* Add styling to TicTacToe 3x3 table */

td {
    border: 1px solid blue; width:33%; height:33%;
  }
  
  td:hover {
    background: orange;
  }
  
  table {
    border: 1px solid green;
    width: 100px;
    height: 100px;
  }